<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar debounce="350" placeholder="Buscar" (ionChange)="search($event)"></ion-searchbar>
    <div class="underline"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-left ion-no-padding">
          <h1>
            Me<span>nu</span>
          </h1>
        </ion-col>
        <ion-col class="ion-text-right ion-no-padding">
          <div class="circle-logo">
            <img  src="assets/img/logo.png" >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="ion-padding menu-vertical">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="2" class="ion-no-padding">
          <ul>
            <li *ngFor="let category of categories" class="pointer">
              <div [ngClass]="{'active':  categorySelected == category.name}" (click)="changeCategory(category.name)">
                {{category.name}}
              </div>
            </li>
          </ul>
        </ion-col>
        <ion-col size="10" class="col-carrousel-recipes">
          <ion-slides pager="false" [options]="optionsCarrouselRecipes" class="carrousel-recipes" *ngIf="recipesSelected.length > 0">
            <ion-slide *ngFor="let recipe of recipesSelected; let i = index"  (click)="showRecipe(recipe)">
              <div class="box">
                <div class="circle">
                  <img *ngIf="recipe.link_image" [src]="recipe.link_image">
                  <img  src="assets/img/logo.png" *ngIf="!recipe.link_image">
                </div>
                <div class="price-receipt">
                  <span>{{recipe.precio}}</span>
                </div>
                <div class="content-receipt">
                  <div class="content">
                    <div class="title-receipt">
                      <h1>{{recipe.titulo}}</h1>
                    </div>
                    <div class="explain-receipt">
                      {{recipe.descripcion_corta}}
                    </div>
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-padding-top">
        <ion-col size="2" class="ion-no-padding">
          <!-- <div class="settings">
            <ion-icon name="options-outline"></ion-icon>
          </div> -->
        </ion-col>
        <ion-col size="10">
          <ion-slides pager="false" [options]="optionsSliderTypes" class="carrousel-slider-types" *ngIf="typeSelected">
            <ion-slide *ngFor="let type of types;" (click)="changeType(type)">
              <div class="box" [ngClass]="{'active': typeSelected === type}">
                {{type}}
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
